@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);    
    min-height: 100vh; /* Ensures the gradient fills the viewport */
    font-family: "Open Sans", sans-serif;

}
.container{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.085);
    flex-direction: column;
    padding: 60px;
    border-radius: 6px;
}
.container *{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
}
textarea{
    display: block;
    width: 100%;
    resize: none;
    padding: 30px;
    color: #202020;
    border: 1.5px solid #b2b2b2;
    border-radius: 5px;
    outline: none;
}
p{
    width: 100%;
    text-align: right;
    margin-top: 15px;
    color: #737373;
}